{
  "openapi": "3.1.0",
  "info": {
    "title": "ComparaDolar API",
    "description": "API pública de comparadolar.ar para cotizaciones de dólar y criptomonedas en Argentina.\n\n<br/>¿Encontraste útil esta API? **¡Dejá tu ⭐ en [GitHub](https://github.com/enzonotario/comparadolar.ar)!**",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.comparadolar.ar",
      "description": "Producción"
    }
  ],
  "tags": [
    {
      "name": "Cotizaciones",
      "description": "Listados de cotización vigente por moneda o activo."
    },
    {
      "name": "Proveedores",
      "description": "Catálogo de proveedores por moneda."
    },
    {
      "name": "Historial",
      "description": "Series temporales de cotización por proveedor."
    }
  ],
  "paths": {
    "/usd": {
      "get": {
        "tags": [
          "Cotizaciones"
        ],
        "operationId": "getUsdQuotes",
        "summary": "USD ahora",
        "description": "Última cotización por proveedor para **usd**.",
        "responses": {
          "200": {
            "description": "Lista de cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usd/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "operationId": "listUsdProviders",
        "summary": "Proveedores USD",
        "description": "Catálogo de proveedores o exchanges con metadatos para armar selectores y enlaces.",
        "responses": {
          "200": {
            "description": "Lista de proveedores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderFiat"
                  }
                },
                "examples": {
                  "muestra": {
                    "summary": "Primeros 3 registros",
                    "value": [
                      {
                        "slug": "astropay",
                        "name": "astropay",
                        "logoUrl": "https://api.argentinadatos.com/static/logos/astropay.png",
                        "is24x7": true,
                        "url": "https://www.astropay.com/?ref=comparadolar",
                        "prettyName": "Astropay",
                        "slowChange": false,
                        "isBank": false
                      },
                      {
                        "slug": "banco-ciudad",
                        "name": "banco ciudad",
                        "logoUrl": "https://api.argentinadatos.com/static/logos/banco-ciudad.png",
                        "is24x7": false,
                        "url": "https://bancociudad.com.ar/institucional/?ref=comparadolar",
                        "prettyName": "Banco Ciudad",
                        "slowChange": false,
                        "isBank": true
                      },
                      {
                        "slug": "banco-credicoop",
                        "name": "banco credicoop",
                        "logoUrl": "https://api.argentinadatos.com/static/logos/banco-credicop.png",
                        "is24x7": false,
                        "url": "https://bancocredicoop.coop/personas?ref=comparadolar",
                        "prettyName": "Banco Credicoop",
                        "slowChange": false,
                        "isBank": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usd/providers/{slug}/history": {
      "get": {
        "tags": [
          "Historial"
        ],
        "operationId": "getUsdProviderHistory",
        "summary": "Historial USD por proveedor",
        "description": "Serie temporal: `bid`, `ask`, `timestamp` por punto.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug del proveedor (mismo valor que en `/providers`).",
            "schema": {
              "type": "string",
              "example": "astropay"
            },
            "examples": {
              "astropay": {
                "summary": "astropay",
                "value": "astropay"
              },
              "banco-ciudad": {
                "summary": "banco-ciudad",
                "value": "banco-ciudad"
              },
              "banco-credicoop": {
                "summary": "banco-credicoop",
                "value": "banco-credicoop"
              },
              "banco-hipotecario": {
                "summary": "banco-hipotecario",
                "value": "banco-hipotecario"
              },
              "banco-macro": {
                "summary": "banco-macro",
                "value": "banco-macro"
              },
              "banco-nacion": {
                "summary": "banco-nacion",
                "value": "banco-nacion"
              },
              "banco-patagonia": {
                "summary": "banco-patagonia",
                "value": "banco-patagonia"
              },
              "banco-provincia": {
                "summary": "banco-provincia",
                "value": "banco-provincia"
              },
              "banco-santander": {
                "summary": "banco-santander",
                "value": "banco-santander"
              },
              "banco-supervielle": {
                "summary": "banco-supervielle",
                "value": "banco-supervielle"
              },
              "brubank": {
                "summary": "brubank",
                "value": "brubank"
              },
              "buenbit": {
                "summary": "buenbit",
                "value": "buenbit"
              },
              "cocos": {
                "summary": "cocos",
                "value": "cocos"
              },
              "fiwind": {
                "summary": "fiwind",
                "value": "fiwind"
              },
              "global66": {
                "summary": "global66",
                "value": "global66"
              },
              "naranja": {
                "summary": "naranja",
                "value": "naranja"
              },
              "plus": {
                "summary": "plus",
                "value": "plus"
              },
              "plus-crypto": {
                "summary": "plus-crypto",
                "value": "plus-crypto"
              },
              "plus-inversiones": {
                "summary": "plus-inversiones",
                "value": "plus-inversiones"
              },
              "reba": {
                "summary": "reba",
                "value": "reba"
              },
              "tiendadolar": {
                "summary": "tiendadolar",
                "value": "tiendadolar"
              },
              "uala": {
                "summary": "uala",
                "value": "uala"
              },
              "wallbit": {
                "summary": "wallbit",
                "value": "wallbit"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de historial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPointFiat"
                  }
                },
                "examples": {
                  "puntos": {
                    "summary": "Primeros puntos (astropay)",
                    "value": [
                      {
                        "bid": 1543.7101529816762,
                        "ask": 1583.04040391,
                        "timestamp": "2025-10-25T22:31:51.552Z"
                      },
                      {
                        "bid": 1535.8859758251547,
                        "ask": 1583.04040391,
                        "timestamp": "2025-10-26T23:00:37.458Z"
                      },
                      {
                        "bid": 1488.8706915804362,
                        "ask": 1583.04040391,
                        "timestamp": "2025-10-27T01:05:33.706Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdc": {
      "get": {
        "tags": [
          "Cotizaciones"
        ],
        "operationId": "getUsdcQuotes",
        "summary": "USDC ahora",
        "description": "Última cotización por exchange para **usdc**.",
        "responses": {
          "200": {
            "description": "Lista de cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdc/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "operationId": "listUsdcProviders",
        "summary": "Proveedores USDC",
        "description": "Catálogo de proveedores o exchanges con metadatos para armar selectores y enlaces.",
        "responses": {
          "200": {
            "description": "Lista de proveedores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderCrypto"
                  }
                },
                "examples": {
                  "muestra": {
                    "summary": "Primeros 3 registros",
                    "value": [
                      {
                        "slug": "arq",
                        "logo": "https://api.argentinadatos.com/static/logos/arq.png",
                        "prettyName": "ARQ",
                        "url": "https://arqfinance.com/",
                        "is24x7": true
                      },
                      {
                        "slug": "belo",
                        "logo": "https://api.argentinadatos.com/static/logos/belo.png",
                        "prettyName": "Belo",
                        "url": "https://www.belo.app/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "binance",
                        "logo": "https://api.argentinadatos.com/static/logos/binance.png",
                        "prettyName": "Binance",
                        "url": "https://www.binance.com/en?ref=comparadolar",
                        "is24x7": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdc/providers/{slug}/history": {
      "get": {
        "tags": [
          "Historial"
        ],
        "operationId": "getUsdcProviderHistory",
        "summary": "Historial USDC por exchange",
        "description": "Serie temporal con montos spot y totales por lado del libro.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug del exchange (mismo valor que en `/providers`).",
            "schema": {
              "type": "string",
              "example": "arq"
            },
            "examples": {
              "arq": {
                "summary": "arq",
                "value": "arq"
              },
              "belo": {
                "summary": "belo",
                "value": "belo"
              },
              "binance": {
                "summary": "binance",
                "value": "binance"
              },
              "buenbit": {
                "summary": "buenbit",
                "value": "buenbit"
              },
              "cocoscrypto": {
                "summary": "cocoscrypto",
                "value": "cocoscrypto"
              },
              "fiwind": {
                "summary": "fiwind",
                "value": "fiwind"
              },
              "lemoncash": {
                "summary": "lemoncash",
                "value": "lemoncash"
              },
              "letsbit": {
                "summary": "letsbit",
                "value": "letsbit"
              },
              "p2pme": {
                "summary": "p2pme",
                "value": "p2pme"
              },
              "pluscrypto": {
                "summary": "pluscrypto",
                "value": "pluscrypto"
              },
              "ripio": {
                "summary": "ripio",
                "value": "ripio"
              },
              "satoshitango": {
                "summary": "satoshitango",
                "value": "satoshitango"
              },
              "tiendacrypto": {
                "summary": "tiendacrypto",
                "value": "tiendacrypto"
              },
              "vesseo": {
                "summary": "vesseo",
                "value": "vesseo"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de historial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPointCrypto"
                  }
                },
                "examples": {
                  "puntos": {
                    "summary": "Primeros puntos (arq)",
                    "value": [
                      {
                        "ask": 1527.78,
                        "totalAsk": 1527.78,
                        "bid": 1520.0384,
                        "totalBid": 1520.0384,
                        "timestamp": "2025-10-17T22:01:39.783Z"
                      },
                      {
                        "ask": 1526.48,
                        "totalAsk": 1526.48,
                        "bid": 1520.3781,
                        "totalBid": 1520.3781,
                        "timestamp": "2025-10-17T22:05:23.764Z"
                      },
                      {
                        "ask": 1529.22,
                        "totalAsk": 1529.22,
                        "bid": 1517.5709,
                        "totalBid": 1517.5709,
                        "timestamp": "2025-10-17T22:10:24.615Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdt": {
      "get": {
        "tags": [
          "Cotizaciones"
        ],
        "operationId": "getUsdtQuotes",
        "summary": "USDT ahora",
        "description": "Última cotización por exchange para **usdt**.",
        "responses": {
          "200": {
            "description": "Lista de cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdt/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "operationId": "listUsdtProviders",
        "summary": "Proveedores USDT",
        "description": "Catálogo de proveedores o exchanges con metadatos para armar selectores y enlaces.",
        "responses": {
          "200": {
            "description": "Lista de proveedores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderCrypto"
                  }
                },
                "examples": {
                  "muestra": {
                    "summary": "Primeros 3 registros",
                    "value": [
                      {
                        "slug": "astropay",
                        "logo": "https://api.argentinadatos.com/static/logos/astropay.png",
                        "prettyName": "Astropay",
                        "url": "https://www.astropay.com/?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "belo",
                        "logo": "https://api.argentinadatos.com/static/logos/belo.png",
                        "prettyName": "Belo",
                        "url": "https://www.belo.app/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "binance",
                        "logo": "https://api.argentinadatos.com/static/logos/binance.png",
                        "prettyName": "Binance",
                        "url": "https://www.binance.com/en?ref=comparadolar",
                        "is24x7": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usdt/providers/{slug}/history": {
      "get": {
        "tags": [
          "Historial"
        ],
        "operationId": "getUsdtProviderHistory",
        "summary": "Historial USDT por exchange",
        "description": "Serie temporal con montos spot y totales por lado del libro.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug del exchange (mismo valor que en `/providers`).",
            "schema": {
              "type": "string",
              "example": "astropay"
            },
            "examples": {
              "astropay": {
                "summary": "astropay",
                "value": "astropay"
              },
              "belo": {
                "summary": "belo",
                "value": "belo"
              },
              "binance": {
                "summary": "binance",
                "value": "binance"
              },
              "buenbit": {
                "summary": "buenbit",
                "value": "buenbit"
              },
              "cocoscrypto": {
                "summary": "cocoscrypto",
                "value": "cocoscrypto"
              },
              "decrypto": {
                "summary": "decrypto",
                "value": "decrypto"
              },
              "fiwind": {
                "summary": "fiwind",
                "value": "fiwind"
              },
              "lemoncash": {
                "summary": "lemoncash",
                "value": "lemoncash"
              },
              "letsbit": {
                "summary": "letsbit",
                "value": "letsbit"
              },
              "pluscrypto": {
                "summary": "pluscrypto",
                "value": "pluscrypto"
              },
              "ripio": {
                "summary": "ripio",
                "value": "ripio"
              },
              "satoshitango": {
                "summary": "satoshitango",
                "value": "satoshitango"
              },
              "tiendacrypto": {
                "summary": "tiendacrypto",
                "value": "tiendacrypto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de historial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPointCrypto"
                  }
                },
                "examples": {
                  "puntos": {
                    "summary": "Primeros puntos (astropay)",
                    "value": [
                      {
                        "ask": 1552.1659642785469,
                        "totalAsk": 1552.1659642785469,
                        "bid": 1575.8343341168902,
                        "totalBid": 1575.8343341168902,
                        "timestamp": "2025-10-25T22:31:51.261Z"
                      },
                      {
                        "ask": 1552.0883156578523,
                        "totalAsk": 1552.0883156578523,
                        "bid": 1575.7555128410293,
                        "totalBid": 1575.7555128410293,
                        "timestamp": "2025-10-25T23:00:32.223Z"
                      },
                      {
                        "ask": 1552.1659642785469,
                        "totalAsk": 1552.1659642785469,
                        "bid": 1575.8343341168902,
                        "totalBid": 1575.8343341168902,
                        "timestamp": "2025-10-25T23:10:38.685Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/btc": {
      "get": {
        "tags": [
          "Cotizaciones"
        ],
        "operationId": "getBtcQuotes",
        "summary": "BTC ahora",
        "description": "Última cotización por exchange para **btc**.",
        "responses": {
          "200": {
            "description": "Lista de cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/btc/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "operationId": "listBtcProviders",
        "summary": "Proveedores BTC",
        "description": "Catálogo de proveedores o exchanges con metadatos para armar selectores y enlaces.",
        "responses": {
          "200": {
            "description": "Lista de proveedores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderCrypto"
                  }
                },
                "examples": {
                  "muestra": {
                    "summary": "Primeros 3 registros",
                    "value": [
                      {
                        "slug": "belo",
                        "logo": "https://api.argentinadatos.com/static/logos/belo.png",
                        "prettyName": "Belo",
                        "url": "https://www.belo.app/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "binance",
                        "logo": "https://api.argentinadatos.com/static/logos/binance.png",
                        "prettyName": "Binance",
                        "url": "https://www.binance.com/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "buenbit",
                        "logo": "https://api.argentinadatos.com/static/logos/buenbit.png",
                        "prettyName": "Buenbit",
                        "url": "https://buenbit.com/?ref=comparadolar",
                        "is24x7": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/btc/providers/{slug}/history": {
      "get": {
        "tags": [
          "Historial"
        ],
        "operationId": "getBtcProviderHistory",
        "summary": "Historial BTC por exchange",
        "description": "Serie temporal con montos spot y totales por lado del libro.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug del exchange (mismo valor que en `/providers`).",
            "schema": {
              "type": "string",
              "example": "belo"
            },
            "examples": {
              "belo": {
                "summary": "belo",
                "value": "belo"
              },
              "binance": {
                "summary": "binance",
                "value": "binance"
              },
              "buenbit": {
                "summary": "buenbit",
                "value": "buenbit"
              },
              "cocoscrypto": {
                "summary": "cocoscrypto",
                "value": "cocoscrypto"
              },
              "decrypto": {
                "summary": "decrypto",
                "value": "decrypto"
              },
              "fiwind": {
                "summary": "fiwind",
                "value": "fiwind"
              },
              "lemoncash": {
                "summary": "lemoncash",
                "value": "lemoncash"
              },
              "letsbit": {
                "summary": "letsbit",
                "value": "letsbit"
              },
              "pluscrypto": {
                "summary": "pluscrypto",
                "value": "pluscrypto"
              },
              "ripio": {
                "summary": "ripio",
                "value": "ripio"
              },
              "satoshitango": {
                "summary": "satoshitango",
                "value": "satoshitango"
              },
              "tiendacrypto": {
                "summary": "tiendacrypto",
                "value": "tiendacrypto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de historial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPointCrypto"
                  }
                },
                "examples": {
                  "puntos": {
                    "summary": "Primeros puntos (belo)",
                    "value": [
                      {
                        "ask": 167446942.87,
                        "totalAsk": 167446942.87,
                        "bid": 161475302.74,
                        "totalBid": 161475302.74,
                        "timestamp": "2025-10-17T22:01:39.783Z"
                      },
                      {
                        "ask": 167588740.97,
                        "totalAsk": 167588740.97,
                        "bid": 161612043.91,
                        "totalBid": 161612043.91,
                        "timestamp": "2025-10-17T22:05:23.764Z"
                      },
                      {
                        "ask": 167434521.69,
                        "totalAsk": 167434521.69,
                        "bid": 161463324.53,
                        "totalBid": 161463324.53,
                        "timestamp": "2025-10-17T22:10:24.615Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth": {
      "get": {
        "tags": [
          "Cotizaciones"
        ],
        "operationId": "getEthQuotes",
        "summary": "ETH ahora",
        "description": "Última cotización por exchange para **eth**.",
        "responses": {
          "200": {
            "description": "Lista de cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoQuote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "operationId": "listEthProviders",
        "summary": "Proveedores ETH",
        "description": "Catálogo de proveedores o exchanges con metadatos para armar selectores y enlaces.",
        "responses": {
          "200": {
            "description": "Lista de proveedores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderCrypto"
                  }
                },
                "examples": {
                  "muestra": {
                    "summary": "Primeros 3 registros",
                    "value": [
                      {
                        "slug": "belo",
                        "logo": "https://api.argentinadatos.com/static/logos/belo.png",
                        "prettyName": "Belo",
                        "url": "https://www.belo.app/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "binance",
                        "logo": "https://api.argentinadatos.com/static/logos/binance.png",
                        "prettyName": "Binance",
                        "url": "https://www.binance.com/en?ref=comparadolar",
                        "is24x7": true
                      },
                      {
                        "slug": "buenbit",
                        "logo": "https://api.argentinadatos.com/static/logos/buenbit.png",
                        "prettyName": "Buenbit",
                        "url": "https://buenbit.com/?ref=comparadolar",
                        "is24x7": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth/providers/{slug}/history": {
      "get": {
        "tags": [
          "Historial"
        ],
        "operationId": "getEthProviderHistory",
        "summary": "Historial ETH por exchange",
        "description": "Serie temporal con montos spot y totales por lado del libro.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Slug del exchange (mismo valor que en `/providers`).",
            "schema": {
              "type": "string",
              "example": "belo"
            },
            "examples": {
              "belo": {
                "summary": "belo",
                "value": "belo"
              },
              "binance": {
                "summary": "binance",
                "value": "binance"
              },
              "buenbit": {
                "summary": "buenbit",
                "value": "buenbit"
              },
              "cocoscrypto": {
                "summary": "cocoscrypto",
                "value": "cocoscrypto"
              },
              "fiwind": {
                "summary": "fiwind",
                "value": "fiwind"
              },
              "lemoncash": {
                "summary": "lemoncash",
                "value": "lemoncash"
              },
              "letsbit": {
                "summary": "letsbit",
                "value": "letsbit"
              },
              "pluscrypto": {
                "summary": "pluscrypto",
                "value": "pluscrypto"
              },
              "ripio": {
                "summary": "ripio",
                "value": "ripio"
              },
              "satoshitango": {
                "summary": "satoshitango",
                "value": "satoshitango"
              },
              "tiendacrypto": {
                "summary": "tiendacrypto",
                "value": "tiendacrypto"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Puntos de historial",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPointCrypto"
                  }
                },
                "examples": {
                  "puntos": {
                    "summary": "Primeros puntos (belo)",
                    "value": [
                      {
                        "ask": 6053047.97,
                        "totalAsk": 6053047.97,
                        "bid": 5837164.34,
                        "totalBid": 5837164.34,
                        "timestamp": "2025-10-17T22:01:39.783Z"
                      },
                      {
                        "ask": 6056699.42,
                        "totalAsk": 6056699.42,
                        "bid": 5840685.58,
                        "totalBid": 5840685.58,
                        "timestamp": "2025-10-17T22:05:23.764Z"
                      },
                      {
                        "ask": 6040611.18,
                        "totalAsk": 6040611.18,
                        "bid": 5825171.09,
                        "totalBid": 5825171.09,
                        "timestamp": "2025-10-17T22:10:24.615Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FiatQuote": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "bid",
          "ask"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "bid": {
            "type": "number"
          },
          "ask": {
            "type": "number"
          },
          "logoUrl": {
            "type": "string"
          },
          "is24x7": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "prettyName": {
            "type": "string"
          },
          "pct_variation": {
            "type": "number"
          },
          "slowChange": {
            "type": "boolean"
          },
          "isBank": {
            "type": "boolean"
          }
        }
      },
      "CryptoQuote": {
        "type": "object",
        "required": [
          "slug",
          "ask",
          "totalAsk",
          "bid",
          "totalBid",
          "time"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "ask": {
            "type": "number"
          },
          "totalAsk": {
            "type": "number"
          },
          "bid": {
            "type": "number"
          },
          "totalBid": {
            "type": "number"
          },
          "time": {
            "type": "number",
            "description": "Marca de tiempo Unix (segundos o ms según origen)."
          },
          "logo": {
            "type": "string"
          },
          "prettyName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ProviderFiat": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "logoUrl",
          "is24x7",
          "url",
          "prettyName"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "is24x7": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "prettyName": {
            "type": "string"
          },
          "slowChange": {
            "type": "boolean"
          },
          "isBank": {
            "type": "boolean"
          }
        }
      },
      "ProviderCrypto": {
        "type": "object",
        "required": [
          "slug",
          "prettyName",
          "url",
          "is24x7"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "prettyName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "is24x7": {
            "type": "boolean"
          }
        }
      },
      "HistoryPointFiat": {
        "type": "object",
        "required": [
          "bid",
          "ask",
          "timestamp"
        ],
        "properties": {
          "bid": {
            "type": "number"
          },
          "ask": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HistoryPointCrypto": {
        "type": "object",
        "required": [
          "ask",
          "totalAsk",
          "bid",
          "totalBid",
          "timestamp"
        ],
        "properties": {
          "ask": {
            "type": "number"
          },
          "totalAsk": {
            "type": "number"
          },
          "bid": {
            "type": "number"
          },
          "totalBid": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
