# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# VitePress API docs
public/docs

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
preview-og/
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
